@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<HUTECHClassroom.Domain.Entities.Classroom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row justify-content-end">
    <div class="col">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="col-md-3">
        <a asp-action="Import" class="btn btn-success btn-block">Import</a>
        <a asp-action="Export" class="btn btn-success btn-block">Export</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="ImportClassroomUsers" asp-route-id="@item.Id">Import Users</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = Model.PageSize }), new X.PagedList.Web.Common.PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded
})