@model HUTECHClassroom.Domain.Entities.Mission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Project is { })
                @Html.DisplayFor(model => Model.Project.Name)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    <h5>@Html.DisplayNameFor(model => model.MissionUsers)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MissionUsers.First().User!.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MissionUsers.First().User!.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MissionUsers.First().User!.LastName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MissionUsers)
            {
                <tr>
                    <td>
                        @if (item.User is { })
                            @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @if (item.User is { })
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @if (item.User is { })
                            @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ImportMissionUsers" asp-route-id="@Model?.Id">Import Users</a> |
    <a asp-action="Index">Back to List</a>
</div>
