@model HUTECHClassroom.Domain.Entities.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classroom != null ? model.Classroom.Title : string.Empty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
    <h5>@Html.DisplayNameFor(model => model.ExerciseUsers)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExerciseUsers.First().User!.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExerciseUsers.First().User!.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExerciseUsers.First().User!.LastName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ExerciseUsers)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.User != null ? item.User.UserName : string.Empty)</td>
                    <td>@Html.DisplayFor(modelItem => item.User != null ? item.User.FirstName : string.Empty)</td>
                    <td>@Html.DisplayFor(modelItem => item.User != null ? item.User.LastName : string.Empty)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ImportExerciseUsers" asp-route-id="@Model?.Id">Import Users</a> |
    <a asp-action="Index">Back to List</a>
</div>
